<a href="https://colab.research.google.com/github/Coder-twhjr/Hunting-Exoplanets-In-Space/blob/main/Project_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Goal of the Project

1. While Loop, Data-Type Conversion and Conditional Statements

2. Python Lists

---

In [1]:
def check_square_and_cube(lst):
  if (lst[1] == (lst[0] ** 0.5) ** 3):
    return True
  else:
    return False

check_square_and_cube([4, 8])

True

In [2]:
def sum_series(n):
  max_num = 0 
  total = 0 
  count = n - 1 
  while count >= 0:
    max_num = max_num + (10 ** count) * n
    count = count - 1
  while n > 0:
    total = total + max_num  
    max_num = max_num // 10 
    n = n - 1 
  return total

for i in range(1, 10):
  print(sum_series(i))

1
24
369
4936
61725
740736
8641969
98765424
1111111101

---