<a href="https://colab.research.google.com/github/Coder-twhjr/Hunting-Exoplanets-In-Space/blob/main/Project_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Goal of the Project


  1.  Python List II
  3.  Pandas Series

---

In [1]:
import random
import pandas as pd 
num_series = pd.Series([random.randint(130, 145) for i in range(40)])
print(num_series)

0     138
1     141
2     140
3     135
4     131
5     133
6     145
7     132
8     134
9     132
10    141
11    138
12    143
13    130
14    144
15    144
16    142
17    132
18    144
19    145
20    139
21    142
22    137
23    142
24    132
25    141
26    142
27    133
28    144
29    130
30    132
31    142
32    136
33    145
34    130
35    131
36    136
37    135
38    141
39    140
dtype: int64

---

In [2]:
print("Mean:",num_series.mean())
print("Median:",num_series.median())

Mean: 137.85
Median: 138.5

---

In [3]:
print("Minimum value in the series:",num_series.min())
print("Maximum value in the series",num_series.max())

Minimum value in the series: 130
Maximum value in the series 145

---

In [4]:
num_series.sort_values(ascending=False).tail()

4     131
35    131
13    130
29    130
34    130
dtype: int64

---

In [5]:
def lines_are_parallel(line1, line2):
	slope1 = line1[0] / line1[1]   
	slope2 = line2[0] / line2[1]
	if slope1 == slope2:
		return True
	else:
		return False
    
line1 = [2,3,4] 
line2 = [4,6,8]
print("Are lines parallel?")
lines_are_parallel(line1, line2)

Are lines parallel?

True

---