<a href="https://colab.research.google.com/github/Coder-twhjr/Hunting-Exoplanets-In-Space/blob/main/Project_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Goal of the Project

1. While Loop, Data-Type Conversion and Conditional Statements.

2. Python Lists (`for` Loop).

---

####Last Digit Ultimate


**Examples**
```
1. last_dig(25, 21, 125) ➞ True
# The last digit of 25 is 5, the last digit of 21 is 1, 
# last digit of 125 is 5, and the last digit of 5*1 = 5, 
# which is equal to the last digit of 125 i.e. 5

2. last_dig(55, 226, 5190) ➞ True
# The last digit of 55 is 5, the last digit of 226 is 6,
# last digit of 5190 is 0, and the last digit of 5*6 = 30 i.e. 0, 
# which is equal to the last digit of 5190 i.e. 0

3. last_dig(12, 215, 2142) ➞ False
# The last digit of 12 is 2, the last digit of 215 is 5, 
# last digit of 2142 is 2, and the last digit of 2*5 = 10 is 0, 
# which is not equal to the last digit of 2142 i.e. 2
```

In [1]:
def last_dig(num1, num2, num3):
	a = num1 % 10
	b = num2 % 10
	c = num3 % 10
	chk = (a * b) % 10
	if chk == c:
		return True
	return False

last_dig(55, 226, 5190)

True

---

####Pentagonal Number

Given a number $num$ as a positive integer, calculate how many dots exist in a pentagonal shape around the centre dot on the $Nth$ iteration.

In the image below you can see in the first iteration there is only a single dot. On the second, there are 6 dots. On the third, there are 16 dots, and on the fourth there are 31 dots.

<img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/pengatonal-number.png' width=500>

**Constraint**

$num > 0$

**Sample Input 1**
```
2
```

**Sample Output 1**
```
6
```

**Sample Input 2**
```
3
```

**Sample Output 2**
```
16
```

In [2]:
def pentagonal(num):
	ans = 1
	for i in range(1,num):
		ans += (5*i)
	return ans

pentagonal(9)

181

---