<a href="https://colab.research.google.com/github/Coder-twhjr/Hunting-Exoplanets-In-Space/blob/main/Project_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Goal of the Project

1. While Loop, Data-Type Conversion and Conditional Statements.

2. Pandas DataFrame.

---

In [1]:
import pandas as pd

nba_df = pd.read_csv('https://media.geeksforgeeks.org/wp-content/uploads/nba.csv')
nba_df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [2]:
nba_df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [3]:
nba_df.shape

(458, 9)

In [4]:
avery_bradley = nba_df.iloc[0, :]
avery_bradley

Name         Avery Bradley
Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: 0, dtype: object

---

In [5]:
def solutions(a, b, c):
  d = b**2 - 4*a*c
  if d == 0:
    return 1
  elif d < 0:
    return 0
  else:
    return 2

solutions(1, 0, 0)

1

---